@page "/basket/{userName}"


<PageTitle>Basket</PageTitle>

<MudContainer Class="bg-color-melo">
    <div class="row">
        @foreach(var item in model)
{

        <div class="col-4 m-4 p-4">
            <MudCard>
                <MudCardContent>
                    <MudStack>
                        <MudImage Src="@item.ImagePath" ObjectFit="ObjectFit.ScaleDown" Class="align-center" />
                        <hr/>
                        <MudText Typo="Typo.h5" Align="Align.Center">@item.ProductName</MudText>
                    </MudStack>
                    <br />
                </MudCardContent>
            </MudCard>
        </div>
            <div class="col-4 m-4 p-4">
                <MudCard>
                    <MudCardContent>
                        <br />
                        <MudText Typo="Typo.h6" Align="Align.End">_شرکت سازنده_</MudText>
                        <MudText Typo="Typo.h6">@item.BuilderCompany</MudText>
                        <hr />
                        <MudText Typo="Typo.h6" Align="Align.End">ـ قیمت ـ</MudText>
                        <MudText Typo="Typo.h6">@item.Price</MudText>
                        <hr/>
                        <MudText Typo="Typo.h6" Align="Align.End">ـ تعداد ـ</MudText>
                        <MudNumericField Label="تعداد" Variant="Variant.Filled" Min="0.0" />
                    </MudCardContent>
                </MudCard>
            </div>
        }
    </div>
</MudContainer>