@page "/contact-us"
<MudAlert Severity="Severity.Success" ContentAlignment="HorizontalAlignment.Center">
    <h3>تماس با ما</h3>
</MudAlert>
<MudPaper Class="bg-color-melo">
    <div class="row">
        <div class="col-5">
            <MudText Align="Align.Start" Typo="Typo.h6">
                پشتیبانی: +۹۸۹۳۰۲۳۸۴۵۹۰
            </MudText>
        </div>
        <div class="col-5">
            <MudText Align="Align.Start" Typo="Typo.h6">
                فروش: +۹۸۹۳۰۲۳۸۴۵۹۰
            </MudText>
        </div>
    </div>
    <MudDivider Class="m-2" />
    <MudForm Class="m-5">
        <div class="row">
           <div class="col-5 m-1">
               <MudStack>
                    <MudTextField T="string" Label="Builder Company"
                                  Validation="@model.Subject" @bind-Value="model.Subject" />
                    <MudTextField T="string" Label="Product Name" Required="true"
                                  Validation="@model.Email" @bind-Value="model.Email" />
                    <MudTextField T="string" Label="Product Price"
                                     Validation="@model.Phone" @bind-Value="model.Phone" />
               </MudStack>
           </div>
           <div class="col-5 m-1">
                <MudTextField T="string" Style="width:100%; height:100%" Label="Product Price"
                              Validation="@model.Message" @bind-Value="model.Message" />
           </div>
        </div>
    </MudForm>
    <MudButton Variant="Variant.Filled" Color="Color.Success" Class="m-5">
        Update Product
    </MudButton>
</MudPaper>