@page "/privacy-and-policy"
<MudAlert Severity="Severity.Success" ContentAlignment="HorizontalAlignment.Center">
    <h3>قوانین و مقررات سایت</h3>
</MudAlert>
<MudPaper Class="p-5 mt-5" Style="border:1px solid #5C469C; border-radius:10%;">
    <MudStack Row="true" >
        Sure, here you go:

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Maecenas placerat tincidunt purus, in vulputate metus finibus quis.
        Cras nec facilisis eros.
        Nullam nec imperdiet augue.
        Sed vel nulla eros.
        Vestibulum pharetra sodales mi, ut luctus elit mattis id.
        Nam ut felis sed elit posuere laoreet.
        Praesent justo nulla, consequat a sapien ut, pellentesque feugiat elit.
        Sure, here you go:

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Maecenas placerat tincidunt purus, in vulputate metus finibus quis.
        Cras nec facilisis eros.
        Nullam nec imperdiet augue.
        Sed vel nulla eros.
        Vestibulum pharetra sodales mi, ut luctus elit mattis id.
        Nam ut felis sed elit posuere laoreet.
        Praesent justo nulla, consequat a sapien ut, pellentesque feugiat elit.
        Sure, here you go:

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Maecenas placerat tincidunt purus, in vulputate metus finibus quis.
        Cras nec facilisis eros.
        Nullam nec imperdiet augue.
        Sed vel nulla eros.
        Vestibulum pharetra sodales mi, ut luctus elit mattis id.
        Nam ut felis sed elit posuere laoreet.
        Praesent justo nulla, consequat a sapien ut, pellentesque feugiat elit.
    </MudStack>
</MudPaper>