<style>
    .bg-color {
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        padding: 7%;
        color: wheat
    }

    .bg-color-r {
        background-image: linear-gradient(180deg, #3a0647 0%, rgb(5, 39, 103) 70%);
        padding: 7%;
        color: wheat
    }


    .bg-color-270d {
        background-image: linear-gradient(180deg, #3a0647 50%, rgb(5, 39, 103) 60%);
    }

    .bg-color-270d-r {
        background-image: linear-gradient(270deg, rgb(5, 39, 103) 50%, #3a0647 60%);
        padding: 7%;
        color: wheat
    }
    .bg-color-melo{
        background: rgb(6,38,102);
        background: linear-gradient(275deg, rgba(6,38,102,1) 1%, rgba(217,19,106,1) 50%, rgba(6,38,102,1) 99%);
        border:1px solid black;
        border-radius: 5px;
        padding: 7%;
        color: wheat
    }

    .bg-color-melo1 {
        background: rgb(6,38,102);
        background: linear-gradient(275deg, rgba(6,38,102,1) 1%, rgba(217,19,106,1) 50%, rgba(6,38,102,1) 99%);
        border: 1px solid black;
        border-radius: 5px;
    }
    .bg-color-melo2 {
        background: rgb(6,38,102);
        background: linear-gradient(180deg, rgba(6,38,102,1) 35%, rgba(167,39,95,1) 78%);
        border: 1px solid black;
        border-radius: 5px;
    }

    .color-bisque{
        color:bisque;
    }

    .color-dodgerblue{
        color: dodgerblue;
    }

    .highlight-div:hover {
        background-color: #713cc9;
        color:white;
        /* Add any other styles to highlight the div */
    }
</style>
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>