@inherits LayoutComponentBase
@using System.Security.Claims

<MudRTLProvider RightToLeft="@_isRtl">
    <MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudLayout>
        <div class="row" style="background: rgb(135,53,172);
background: linear-gradient(90deg, rgba(135,53,172,1) 0%, rgba(255,255,255,1) 67%);border-bottom:2px solid black">
            <div class="col-5 "><MudImage Alt="لوازم خانگی مقیمی" Class="align-items-center img-fluid rounded" Src="/ham.png" /></div>
            <div class="col-7 mt-5 pt-5"><MudText Typo="Typo.h2" Class="ir-sans">بازرگانی لوازم خانگی مقیمی</MudText></div>
        </div>
        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</MudRTLProvider>
@code {
    private MudTheme _theme = new();
    private bool _isDarkMode;
    private bool _isRtl = true;
}
