@inherits LayoutComponentBase
@using System.Security.Claims
@using CustomerMoghimiHome.Shared.Basic.Classes;
@using CustomerMoghimiHome.Shared.EntityFramework.DTO.Shop;

<MudRTLProvider RightToLeft="@_isRtl">
    <MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudLayout>
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="z-index:100 ;
            background: rgb(171, 39, 60); 
background: linear-gradient(0deg, rgb(171, 39, 60) 4%, rgb(171, 39, 60) 100%);">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <MudNavLink Href="" Match="NavLinkMatch.All">
                            <MudText Style="color:black" Typo="Typo.h6" Class="shabnam">
                                    صفحه اصلی
                                </MudText>
                            </MudNavLink>
                        </li>
                        <li class="nav-item">
                            <AuthorizeView Roles="Admin">
                                <MudNavLink Href="site-admin-panel-control-unit-unit-control-anti-dictionary-attack"
                                            Match="NavLinkMatch.Prefix">
                                <MudText Style="color:black" Typo="Typo.h6" Class="shabnam">
                                        صفحه ادمین
                                    </MudText>
                                </MudNavLink>
                            </AuthorizeView>
                        </li>
                        <li class="nav-item">
                            <MudNavLink Href="product-category-main-page"
                                        Match="NavLinkMatch.Prefix">
                            <MudText Style="color:black" Typo="Typo.h6" Class="shabnam">
                                     دسته بندی محصولات
                                </MudText>
                            </MudNavLink>
                        </li>
                        <li class="nav-item">
                            <MudNavLink Href="about-us"
                                        Match="NavLinkMatch.Prefix">
                            <MudText Style="color:black" Typo="Typo.h6" Class="shabnam">
                                    درباره ما
                                </MudText>
                            </MudNavLink>
                        </li>
                        <li class="nav-item">
                            <MudNavLink Href="contact-us"
                                        Match="NavLinkMatch.Prefix">
                            <MudText Style="color:black" Typo="Typo.h6" Class="shabnam">
                                    تماس با ما
                                </MudText>
                            </MudNavLink>
                        </li>
                        <li class="nav-item">
                            <MudNavLink Href="privacy-and-policy"
                                        Match="NavLinkMatch.Prefix">
                            <MudText Style="color:black" Typo="Typo.h6" Class="shabnam">
                                    قوانین و مقررات سایت
                                </MudText>
                            </MudNavLink>
                        </li>
                        <AuthorizeView>
                            <Authorized>
                                <li class="nav-item">
                                    <MudNavLink Href="basket">
                                    <MudText Style="color:black" Typo="Typo.h6" Class="shabnam">
                                           سبد خرید
                                        </MudText>
                                    </MudNavLink>
                                </li>
                                <li class="nav-item">
                                    <MudNavLink Href="personal/account">
                                    <MudText Style="color:black" Typo="Typo.h6" Class="shabnam">
                                            صفحه کاربری
                                        </MudText>
                                    </MudNavLink>
                                </li>
                                <li class="nav-item">
                                    <MudNavLink Href="Logout">
                                    <MudText Style="color:black" Typo="Typo.h6" Class="shabnam">
                                            خروج
                                        </MudText>
                                    </MudNavLink>
                                </li>

                            </Authorized>
                            <NotAuthorized>
                                <li class="nav-item">
                                    <MudNavLink Href="registration">
                                    <MudText Style="color:black" Typo="Typo.h6" Class="shabnam">
                                            ساخت اکانت
                                        </MudText>
                                    </MudNavLink>
                                </li>
                                <li class="nav-item">
                                    <MudNavLink Href="login">
                                        <MudText Style="color:black" Typo="Typo.h6" Class="shabnam">
                                            ورود
                                        </MudText>
                                    </MudNavLink>
                                </li>
                            </NotAuthorized>
                        </AuthorizeView>

                    </ul>
                </div>
            </nav>
           
        <div class="row mt-15 pt-5 mr-15 pr-15" style="height:50%;background: rgb(135,53,172);
background: linear-gradient(90deg, rgba(135,53,172,1) 0%, rgba(255,255,255,1) 67%);">
            <div class="col-3 mt-15"><MudImage Alt="لوازم خانگی مقیمی" Class="align-items-center img-fluid rounded" Src="/ham.png" /></div>
            <div class="col-9"><MudText Typo="Typo.h2" Class="shabnam"> بازرگانی لوازم خانگی مقیمی <MudImage Src="/logo.png" Class="img-fluid rounded" /></MudText></div>
        </div>

        <MudMainContent>
                @Body
        </MudMainContent>

        <div class="row mt-5" style="background: rgb(135,53,172);
background: linear-gradient(90deg, rgba(135,53,172,1) 0%, rgba(255,255,255,1) 67%);">
            <div class="col-7">
                <MudStack>
                    <MudText Align="Align.Center" Class="mt-5 shabnam" Typo="Typo.h3">قوانین و مقررات سایت</MudText>
                    <MudText Align="Align.Right" Typo="Typo.h6" Class="shabnam">لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگیلورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی</MudText>

                    <MudButton Class="my-5 mr-15" ButtonType="ButtonType.Button" Style="background-color:#5C469C;width:50%" Href="product-category-main-page">
                        <MudText Align="Align.Center" Class="shabnam" Style="color:white;" Typo="Typo.h6">
                            مطالعه ادامه مطلب <MudIcon Icon="@Icons.Material.Filled.More" />
                        </MudText>
                    </MudButton>
                </MudStack>
            </div>
            <div class="col-5">
                <MudImage Class="img-fluid rounded" Src="/privacyPolicy.png" />
            </div>
        </div>
    </MudLayout>
</MudRTLProvider>
@code {
    private MudTheme _theme = new();
    private bool _isDarkMode;
    private bool _isRtl = true;
}
