@page "/"
<PageTitle>Index</PageTitle>
<div class="row" style="border-bottom:2px double black;">
    <div class="col-6">
        <MudStack>
            <MudText Typo="Typo.h2" Align="Align.Center">لوازم خانگی مقیمی</MudText>
            <MudText Typo="Typo.h4" Align="Align.Center">کیفیت|تجربه|تنوع </MudText>
            <MudDivider />
            <MudText Align="Align.Right" Typo="Typo.h6">متن لورم ایپسوم (Lorem Ipsum)، در واقع پاراگراف‌هایی بی‌معنی و به‌صورت رندوم تولیدشده برای استفاده در طراحی و چاپ گرافیکی است. این متن شامل کلمات و جملاتی از زبان لاتین است، اما به دلیل عدم وجود یک متن معنی‌دار و مناسب برای نمایش در طراحی‌های گرافیکی، متن لورم ایپسوم از این شکل استفاده می‌شود. این متن در صنعت چاپ، طراحی و گرافیک به‌عنوان یک متن پیشفرض استفاده می‌شود تا کاربر با دیدن طرح و قالب کلی، با محتوای نمایشی آن آشنا شود، اما به دلیل نبود معنی، توجه کاربر به خود محتوا افزایش نمی‌یابد. </MudText>
            <MudDivider Class="mb-5"/>
        </MudStack>
    </div>
    <div class="col-3"><MudImage Src="/disket.jpg" /></div>
    <div class="col-3"><MudImage Src="/disket2.jpg" /></div>
</div>
<div class="row mt-5">
    <MudText Align="Align.Center" Typo="Typo.h2">خدمات ما</MudText>
</div>
<MudDivider />
<div class="row mt-5" style="border-bottom:2px double black;">
    <div class="col-lg-4 col-md-6">
        <MudStack>
            <MudImage Src="/moshavereh.jpg" />
            <MudText Align="Align.Center" Typo="Typo.h4">مشاوره</MudText>
            <MudText Align="Align.Right" Typo="Typo.body1">لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگیلورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی</MudText>
            <MudSpacer />
        </MudStack>
    </div>

    <div class="col-lg-4 col-md-6">
        <MudStack>
            <MudImage Src="/forosh.jpg" />
            <MudText Align="Align.Center" Typo="Typo.h4">فروش</MudText>
            <MudText Align="Align.Right" Typo="Typo.body1">لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگیلورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی</MudText>
            <MudSpacer />
        </MudStack>
    </div>

    <div class="col-lg-4 col-md-6">
        <MudStack>
            <MudImage Src="/nasb.jpg" />
            <MudText Align="Align.Center" Typo="Typo.h4">نصب و راه اندازی</MudText>
            <MudText Align="Align.Right" Typo="Typo.body1">لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگیلورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی</MudText>
            <MudSpacer/>
        </MudStack>
    </div>
</div>

<div class="row mt-5" style="border-bottom:2px double black;">
   @* <div class="col-6"><MudImage Src="/cat.jpg" /></div>*@
    <div class="col-6 bbb">lkdflasdflsdjfdlsjj</div>
</div>