@page "/"
<PageTitle>Index</PageTitle>
<div class="row">
    <div class="col-6">
        <MudStack>
            <MudText Typo="Typo.h2" Align="Align.Center">لوازم خانگی مقیمی</MudText>
            <MudText Typo="Typo.h4" Align="Align.Center">کیفیت|تجربه|تنوع </MudText>
            <MudDivider />
            <MudText Align="Align.Right" Typo="Typo.h6">متن لورم ایپسوم (Lorem Ipsum)، در واقع پاراگراف‌هایی بی‌معنی و به‌صورت رندوم تولیدشده برای استفاده در طراحی و چاپ گرافیکی است. این متن شامل کلمات و جملاتی از زبان لاتین است، اما به دلیل عدم وجود یک متن معنی‌دار و مناسب برای نمایش در طراحی‌های گرافیکی، متن لورم ایپسوم از این شکل استفاده می‌شود. این متن در صنعت چاپ، طراحی و گرافیک به‌عنوان یک متن پیشفرض استفاده می‌شود تا کاربر با دیدن طرح و قالب کلی، با محتوای نمایشی آن آشنا شود، اما به دلیل نبود معنی، توجه کاربر به خود محتوا افزایش نمی‌یابد. </MudText>
            <MudDivider Class="mb-5"/>
        </MudStack>
    </div>
    <div class="col-3"><MudImage Src="/disket.jpg" /></div>
    <div class="col-3"><MudImage Src="/disket2.jpg" /></div>
</div>
