@page "/"
<PageTitle>Index</PageTitle>
<div class="row" style="border-bottom:2px double black;">
    <div class="col-6">
        <MudStack>
            <MudText Typo="Typo.h2" Align="Align.Center">لوازم خانگی مقیمی</MudText>
            <MudText Typo="Typo.h4" Align="Align.Center">کیفیت|تجربه|تنوع </MudText>
            <MudDivider />
            <div class="p-3" style="border:1px solid #713cc9; border-radius:10%;background-color:#713cc9">
                <MudText Style="color:white" Align="Align.Right" Typo="Typo.h6">متن لورم ایپسوم (Lorem Ipsum)، در واقع پاراگراف‌هایی بی‌معنی و به‌صورت رندوم تولیدشده برای استفاده در طراحی و چاپ گرافیکی است. این متن شامل کلمات و جملاتی از زبان لاتین است، اما به دلیل عدم وجود یک متن معنی‌دار و مناسب برای نمایش در طراحی‌های گرافیکی، متن لورم ایپسوم از این شکل استفاده می‌شود. این متن در صنعت چاپ، طراحی و گرافیک به‌عنوان یک متن پیشفرض استفاده می‌شود تا کاربر با دیدن طرح و قالب کلی، با محتوای نمایشی آن آشنا شود، اما به دلیل نبود معنی، توجه کاربر به خود محتوا افزایش نمی‌یابد. </MudText>
            </div>
            <MudDivider Class="mb-5" />
        </MudStack>
    </div>
    <div class="col-3"><MudImage Src="/disket.jpg" /></div>
    <div class="col-3"><MudImage Src="/disket2.jpg" /></div>
</div>
<div class="row mt-5">
    <MudText Align="Align.Center" Typo="Typo.h2">خدمات ما</MudText>
</div>
<MudDivider />
<div class="row mt-5">
    <div class="col-lg-4 col-md-6" style="border:5px solid #713cc9; border-radius:5%">
        <MudStack>
            <MudImage Src="/moshavereh.jpg" Class="img-fluid rounded" />
            <MudText Align="Align.Center" Typo="Typo.h4">مشاوره</MudText>
            <MudText Align="Align.Right" Typo="Typo.body1">لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگیلورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی</MudText>
            <MudSpacer />
        </MudStack>
    </div>

    <div class="col-lg-4 col-md-6" style="border:5px solid #713cc9; border-radius:5%">
        <MudStack>
            <MudImage Src="/forosh.jpg" Class="img-fluid rounded" />
            <MudText Align="Align.Center" Typo="Typo.h4">فروش</MudText>
            <MudText Align="Align.Right" Typo="Typo.body1">لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگیلورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی</MudText>
            <MudSpacer />
        </MudStack>
    </div>

    <div class="col-lg-4 col-md-6" style="border:5px solid #713cc9; border-radius:5%">
        <MudStack>
            <MudImage Src="/nasb.jpg" Class="img-fluid rounded" />
            <MudText Align="Align.Center" Typo="Typo.h4">نصب و راه اندازی</MudText>
            <MudText Align="Align.Right" Typo="Typo.body1">لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگیلورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی</MudText>
            <MudSpacer />
        </MudStack>
    </div>
</div>

<div class="row mt-5" style="border-bottom:2px double black;">
    <div class="col-6"><MudImage Class="img-fluid rounded" Src="/cat3.svg" /></div>

    <div class="col-6">
        <MudStack>
            <MudText Align="Align.Right" Typo="Typo.h6">لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگیلورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی</MudText>
            <MudText Align="Align.Right" Typo="Typo.h6">لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگیلورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی</MudText>
            <MudSpacer />
            <MudSpacer />
            <MudButton Class="my-5" ButtonType="ButtonType.Button" Style="background-color:#713cc9" Href="product-category-main-page">
                <MudText Align="Align.Center" Style="color:white;" Typo="Typo.h6">
                    ورود به بخش دسته بتدی محصولات <MudIcon Icon="@Icons.Material.Filled.More" />
                </MudText>
            </MudButton>
        </MudStack>
    </div>
</div>

<div class="row mt-5 mb-5" style="border-bottom:2px double black;border:1px solid #713cc9; border-radius:20%;background-color:#713cc9">
    <div class="col-7">
        <MudStack>
            <MudText Align="Align.Center" Typo="Typo.h3" Style="color:white">قوانین و مقررات سایت</MudText>
            <MudText Align="Align.Right" Typo="Typo.h6" Style="color:antiquewhite">لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی  لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگیلورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی</MudText>
            <MudSpacer />
            <MudSpacer />
            <MudSpacer />
            <MudSpacer />
            <MudButton Class="my-5" ButtonType="ButtonType.Button" Style="background-color:azure" Href="product-category-main-page">
                <MudText Align="Align.Center" Style="color:black; " Typo="Typo.h6">
                    مطالعه ادامه مطلب
                    <MudIcon Icon="@Icons.Material.Filled.More" />
                </MudText>
            </MudButton>
        </MudStack>
    </div>
    <div class="col-5">
        <MudImage Src="/roles.svg" />
    </div>
</div>

<div class="row mt-5" >

</div>